
@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section class="py-lg-13 pb-10 pt-0" data-animated-id="1">
        <div class="container container-xl">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hover-shine hover-zoom-in fadeInUp animated" data-animate="fadeInUp">
                        <img class="w-100" src="~/images/bg-about.jpg" alt="about us">
                    </div>
                </div>
                <div class="col-lg-6 px-xxl-12 mt-lg-0 mt-8">
                    <h1 class="fs-40 lh-13 mb-5 fadeInUp animated" data-animate="fadeInUp">Welcome to Book Store</h1>
                    <p class="mb-4 fadeInUp animated" data-animate="fadeInUp">

                    Chào mừng bạn đến với BookStore - Hành trình khám phá tri thức không giới hạn tại ngôi nhà sách trực tuyến của chúng tôi!

                    BookStore là không gian ẩn chứa hàng nghìn câu chuyện, tri thức và sự phong phú từ thế giới sách. Chúng tôi tự hào là điểm đến của những người đam mê đọc sách, nơi mà bạn có thể dễ dàng tìm kiếm, khám phá và sở hữu những tác phẩm văn học tuyệt vời từ mọi thể loại.

                    Tại BookStore, chúng tôi cam kết mang đến trải nghiệm mua sắm trực tuyến tuyệt vời nhất cho bạn. Bạn sẽ được thưởng thức sự đa dạng của các thể loại sách, từ tiểu thuyết, kinh doanh, khoa học, đến sách thiếu nhi và nghệ thuật. Bất kỳ niềm đam mê nào, chúng tôi đều có sách dành cho bạn!

                    Với giao diện trực quan và thân thiện, việc tìm kiếm sách yêu thích của bạn chưa bao giờ dễ dàng đến thế. Hệ thống đánh giá và đánh giá từ cộng đồng độc giả sẽ giúp bạn chọn lựa những tác phẩm đáng đọc nhất. Chúng tôi không chỉ là nơi để mua sắm, mà còn là không gian để chia sẻ và kết nối với những người yêu sách khác trên khắp mọi nơi.
                </p>
                    <p class="mb-6 mb-xl-10 mb-xxl-11 fadeInUp animated" data-animate="fadeInUp">
                    Hãy tham gia vào hành trình của chúng tôi, nơi tri thức và giáo dục trở nên truy cập mọi lúc, mọi nơi. BookStore - Nơi mà mỗi trang sách là một cửa sổ mở ra thế giới, đưa bạn đến những cuộc phiêu lưu tuyệt vời và kích thích tinh thần sáng tạo. Hãy bắt đầu hành trình đọc sách của bạn với chúng tôi ngay hôm nay!
                </p>
                    <div class="row">
                        <div class="col-md-6 fadeInUp animated" data-animate="fadeInUp">
                            <h4 class="fs-20 font-weight-600 mb-3">Nhắn tin</h4>
                        <p class="mb-2 mb-md-4">Gửi tin nhắn cho chúng tôi và chúng tôi sẽ trả lời khi có sẵn..</p>
                        <p class="fs-16 text-primary font-weight-bold mb-0">1234567890</p>
                        </div>
                        <div class="col-md-6 pt-6 pt-md-0 fadeInUp animated" data-animate="fadeInUp">
                            <h4 class="fs-20 font-weight-600 mb-3">Store Hours</h4>
                            <ul class="list-unstyled mb-0">
                                <li><span class="text-secondary d-inline-block w-115">Mon – Fri:</span> 08:30 – 20:00</li>
                                <li><span class="text-secondary d-inline-block w-115">Sat &amp; Sun:</span> 09:30 – 21:30</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="pt-lg-13 pt-10 pb-lg-12 pb-11" data-animated-id="4">
        <div class="container container-xxl text-center">
        <h2 class="fs-34 mx-auto mb-6 fadeInUp animated" style="max-width: 620px" data-animate="fadeInUp">Chúng tôi luôn đặt chất lượng sản phẩm lên hàng đầu</h2>
        <div class=" my-15">
            <div class="row">
                <div class="col-12 col-lg-6 mb-6 mb-lg-0">
                    <div class="hover-shine hover-zoom-in fadeInUp animated" data-animate="fadeInUp">
                        <img height="460" class="w-100" src="~/assets/images/banner1.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="hover-shine hover-zoom-in fadeInUp animated" data-animate="fadeInUp">
                        <img height="460" class="w-100" height="460" src="~/assets/images/banner2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
    </section>